Thumbs.db
.DS_Store
.gradle
build/
out/
lib/
.idea
*.iml
*.ipr
*.iws
.project
.link_to_grails_plugins
.settings
target/
target-eclipse
.classpath
.project
.livereload
Guardfile
.groovy
*.orig
.buildpath
.idea
ddb-next.iml
bin
*.db
.sass-cache/*
.slcache/*
/cobertura.ser
/testfile
/hs_err_pid*.log
/replay_pid*.log
/grails-app/assets/javascripts/i18n/*
