<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

  <display-name>fiz-oai-backend</display-name>


  <servlet>
    <servlet-name>FIZ OAI Backend Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>de.fiz.oai.backend</param-value>
    </init-param>
    <init-param>
      <param-name>jakarta.ws.rs.Application</param-name>
      <param-value>de.fiz.oai.backend.FizOAIBackendApplication</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>FIZ OAI Backend Application</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <filter>
      <filter-name>CharacterSetFilter</filter-name>
      <filter-class>de.fiz.oai.backend.utils.CharacterSetFilter</filter-class>
  </filter>
   
  <filter-mapping>
      <filter-name>CharacterSetFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>